<!doctype html>
<html lang="en">
<#import "spring.ftl" as spring/>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
    .error {
        color: #ff0000;
    }
</style>


<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">${title}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/posts"> Отчет </a>
        <a class="p-2 text-dark" href="#">2</a>
        <a class="p-2 text-dark" href="#">3</a>
        <a class="p-2 text-dark" href="#">4</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<div>
    <@spring.bind "postForm"/>
    <#if type??>
    <form action="/addPost/?type=${type}" method="post">
        <#else>
        <form action="/addPost/" method="post">
            </#if>


            <input name="numberOfLetters" placeholder="Номер письма">

            <input name="organization" placeholder="Организация">

            <input name="person" placeholder="Ф.И.О">

            <input name="dateOfCreate" placeholder="Дата создания">

            <input name="dateOfIssue" placeholder="Дата выдачи">
            <@spring.formInput "postForm.email" "placeholder='Email'"/>
            <@spring.showErrors "<br>" "error"/>

            <input type="submit" value="Сохранить" class="btn btn-primary my-2">
        </form>
</div>



<div>
    <table class="table">
        <tr>
            <th>Номер письма</th>
            <th>Организация</th>
            <th>Ф.И.О</th>
            <th>Email</th>
            <th>Дата создания</th>
            <th>Дата выдачи</th>

        </tr>
        <#list posts as post>
            <tr>
                <td>${post.numberOfLetters}</td>
                <td>${post.organization}</td>
                <td>${post.person}</td>
                <td>${post.email}</td>
                <td>${post.dateOfCreate}</td>
                <td>${post.dateOfIssue}</td>
                <td>
                    <form action="/posts/${post.id}/remove" method="post">
                        <input class="button" type="submit" value="Удалить"/>
                    </form>
                </td>
            </tr>
        </#list>
    </table>
</div>

</body>
</html>